
        <div class="c-benefits anim anim--up">
            <div class="o-wrap">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <article class="o-article">
                            <h3>Dlaczego my?</h3>
                            
                            <h4>Szybko</h4>
                            <p>Wracamy do Ciebie z decyzją nawet w godzinę po nawiązaniu kontaktu.</p>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h4>Bezproblemowo</h4>
                            <p>Wszystkie sprawy „papierkowe” bierzemy na siebie – od urzędów po prawników.</p>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h4>Sprawnie</h4>
                            <p>Większość spraw możemy załatwiać telefonicznie i online, by nie marnować Twojego czasu.</p>
                        </article>
                    </div>
                    
                    <div class="o-cols__item">
                        <article class="o-article">
                            
                            <img src=<%= require("./img/benefits/people.svg") %> alt="people" />
                            
                            <h4>Bezpiecznie</h4>
                            <p>Podpisujemy akt u wybranego przez Ciebie notariusza.</p>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h4>Bezkosztowo</h4>
                            <p>To my zajmujemy się opłatami związanymi ze sprzedażą. Nic od Ciebie nie pobieramy!</p>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h4>Z sukcesem!</h4>
                            <p>To proste: pozbywasz się problemu i dostajesz gotówkę.</p>
                        </article>
                    </div>                    
                </div>
                
                <div class="o-article anim anim--up">
                    <h4 align="center"><strong>Aha, i jeszcze jedno.</strong> Nie ma dla nas znaczenia, gdzie mieszkasz.</h4>
                    <h4 align="center"><strong>Działamy w całej Polsce.</strong></h4>
                </div>                
            </div>
        </div>
