
        <div class="c-benefits anim anim--up">
            <div class="o-wrap">
                
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <article class="o-article">
                            
                            <img src=<%= require("./img/benefits/people.svg") %> alt="people" />

                            <h4>Dla każdego</h4>
                            <p>Udzielamy pożyczek pod hipotekę dla zadłużonych
                            i&nbsp;nie tylko, dla osób prywatnych oraz firm.</p>

                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h4>Sprawnie</h4>
                            <p>Większość spraw możemy załatwiać telefonicznie i online,
                            by nie marnować Twojego czasu.</p>

                            <p>&nbsp;</p>
                            <p>&nbsp;</p>

                            <h4>Korzystnie!</h4>
                            <p>Czy wiesz, że możesz dostać pożyczkę o wartości
                            nawet 80% Twojej nieruchomości?</p>

                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h4>Bezproblemowo</h4>
                            <p>Nie sprawdzamy Cię w BIK, KRD, ani nie potrzebujemy zaświadczenia o Twoich zarobkach.</p>
                          
                        </article>
                    </div>
                    
                    <div class="o-cols__item">
                        <article class="o-article">
                            
                            <h3>Dlaczego my?</h3>
                            
                            <h4>szybko</h4>
                            <p>Otrzymujesz gotówkę nawet w kilka dni od pierwszego kontaktu.</p>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h4>Indywidualne dopasowanie</h4>
                            <p>Dobieramy do Twoich możliwości liczbę rat i ich wysokość,
                            by łatwiej Ci było spłacać pożyczkę.</p>
                            
                            <p>&nbsp;</p>
                            <p>&nbsp;</p>
                            
                            <h4>pewnie</h4>
                            <p>Na wstępie informujemy Cię o wszystkich kosztach. Dostajesz od nas umowę do przejrzenia, a jeśli nie masz uwag, umawiamy się na podpisanie aktu u wybranego
                            przez Ciebie notariusza.</p>
                            
                        </article>
                    </div>                    
                </div>
                
                <div class="o-article anim anim--up">
                    <h4 align="center"><strong>Aha, i jeszcze jedno.</strong> Nie ma dla nas znaczenia, gdzie mieszkasz.</h4>
                    <h4 align="center"><strong>Działamy w całej Polsce.</strong></h4>
                </div>
            </div>
        </div>
