
        <div class="c-clients">
            <div class="o-wrap">
                <header class="o-header">
                    <h2>Co mówią <strong>nasi klienci</strong>?</h2>
                </header>
                
                <div class="o-cols anim anim--up">
                    <div class="o-cols__item">
                        <div class="o-girl">
                            <img src=<%= require("./img/clients/girl.svg") %> alt="girl">          
                        </div>
                    </div>
                    
                    <div class="o-cols__item">

                        <div class="swiper-container js-reviewsSlider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                
                                    <blockquote>
                                        <cite>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</cite>
                                        <p>Jan Kowalski, Wrocław</p>
                                    </blockquote>

                                </div>
                                
                                <div class="swiper-slide">
                                
                                    <blockquote>
                                        <cite>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</cite>
                                        <p>Jan Kowalski, Wrocław</p>
                                    </blockquote>

                                </div>
                                
                                <div class="swiper-slide">
                                
                                    <blockquote>
                                        <cite>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</cite>
                                        <p>Jan Kowalski, Wrocław</p>
                                    </blockquote>

                                </div>
                            </div>
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>                
                </div>
                
                <div class="o-assets">
                    <img srcset="./img/clients/assets.png 1x, ./img/clients/assets@2x.png 2x"
                    	 src="./img/clients/assets.png" alt="">
                </div>
            </div>            
        </div>
