
        <div class="c-contact anim anim--up">
            <div class="o-wrap">
                <div class="o-cols">
                    <div class="o-cols__item">
                        
                        <header class="o-header">
                            <h2>Formularz kontaktowy</h2>
                            <p>Wypełnij krótki formularz, to zajmie tylko chwilę. A my odezwiemy się do Ciebie tak szybko, jak to możliwe. Słowo!</p>
                        </header>
                        
                        <div class="c-contact__form">
                            <form action="#">
                                <div class="form-row">
                                    <input type="text" placeholder="imię">
                                </div>
                                
                                <div class="form-row">
                                    <input type="email" placeholder="adres e-mail">
                                </div>
                                
                                <div class="form-row">
                                    <input type="tel" placeholder="telefon">
                                </div>
                                
                                <div class="form-row">
                                    <textarea placeholder="wiadomość"></textarea>
                                </div>
                                
                                <div class="form-row">
                                    <div class="o-cols">
                                        <div class="o-cols__item">
                                            <div class="form-row">
                                                <input type="checkbox" id="agree-1">
                                                <label for="agree-1">
                                                	<i></i>
                                                	<span>Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w tym formularzu*</span>
                                                </label>
                                            </div>
                                            
                                            <div class="form-row">
                                                <input type="checkbox" id="agree-2">
                                                <label for="agree-2">
                                                	<i></i>
                                                	<span>Akceptuję Politykę prywatności*</span>
                                                </label>
                                            </div>
                                            
                                            <div class="form-row">
                                                <legend>* Pole obowiązkowe!</legend>
                                            </div>
                                        </div>
                                        
                                        <div class="o-cols__item">
                                            <button type="submit" class="o-btn o-btn--green">Wyślij</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <img src=<%= require("./img/contact/computer.svg") %> alt="computer">
                    </div>
                </div>                              
            </div>
            
            <div class="o-quick">
                <p>Szybki kontakt</p>  
                <p>telefon:</p>
                <p><a href="tel:987 654 321">987 654 321</a>
            </div>
            
            <div class="o-circle"></div>  
        </div>
