
    <div class="c-cookies move-out" id="cookies">
        <div class="o-wrap">
            
            <div class="c-cookies__text">
                <p>Jedni pieką ciastka, inni je jedzą. A my ich używamy, by łatwiej Ci się korzystało z tej strony. Pozostając na niej, akceptujesz naszą Politykę cookies, o której dowiesz&nbsp;się&nbsp;<a href="#" class="o-btn o-btn--small o-btn--white" rel="noopener">tutaj</a></p>
            </div>
            
            <div class="c-cookies__btn">
                <a href="#" class="o-btn o-btn--navy js-accept">Ok, rozumiem</a>
            </div>
        </div>
    </div>
