
        <footer class="c-footer js-footer">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <a href="index.html" class="o-logo">
                            <img src=<%= require("./img/assets/logo-itfund--mono.svg") %> alt="it fund" class="desktop">
                            <img src=<%= require("./img/assets/logo-itfund--simple.svg") %> alt="it fund" class="mobile">
                        </a>
                        
                        <p class="c-footer__copyrights">&copy; 2021 FT FUND</p>
                    </div>
                    
                    <div class="o-cols__item">
                        <nav class="c-footer__nav js-menu">
                            <ul>
                                <li>
                                    <a href="#onas">O nas</a>
                                </li>
                                
                                <li class="js-openLightbox">
                                    <a href="#polityka-cookies">Polityka cookies</a>
                                </li>
                                
                                <li>
                                    <a href="#oferta">Oferta</a>
                                </li>
                                
                                <li class="js-openLightbox">
                                    <a href="#polityka-prywatnosci">Polityka prywatności</a>
                                </li>
                                
                                <li>
                                    <a href="#">Współpraca</a>
                                </li>
                                
                                <li>
                                    <a href="#kontakt">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                        
                        <% include social %>

                    </div>
                </div>
                
                <div class="o-assets">
                    <img srcset="./img/footer/assets.png 1x, ./img/footer/assets@2x.png 2x"
                    	 src="./img/footer/assets.png" alt="">
                </div>                
            </div>            
        </footer>
