
        <footer class="c-footer">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <a href="index.html" class="o-logo">
                            <img src=<%= require("./img/assets/logo-itfund--mono.svg") %> alt="it fund">
                        </a>
                        
                        <p class="c-footer__copyrights">&copy; 2021 FT FUND</p>
                    </div>
                    
                    <div class="o-cols__item">
                        <nav class="c-footer__nav">
                            <ul>
                                <li>
                                    <a href="#">O nas</a>
                                </li>
                                
                                <li>
                                    <a href="#">Polityka cookies </a>
                                </li>
                                
                                <li>
                                    <a href="#">Oferta</a>
                                </li>
                                
                                <li>
                                    <a href="#">Polityka prywatności</a>
                                </li>
                                
                                <li>
                                    <a href="#">Współpraca</a>
                                </li>
                                
                                <li>
                                    <a href="#">Kontakt</a>
                                </li>
                            </ul>
                        </nav>
                        
                        <div class="o-social">
                            <ul>
                                <li>
                                    <a href="#" class="icon-facebook"></a>
                                </li>
                                
                                <li>
                                    <a href="#" class="icon-instagram"></a>
                                </li>
                                
                                <li>
                                    <a href="#" class="icon-linkedin"></a>
                                </li>
                                
                                <li>
                                    <a href="#" class="icon-youtube"></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="o-assets">
                    <img srcset="./img/footer/assets.png 1x, ./img/footer/assets@2x.png 2x"
                    	 src="./img/footer/assets.png" alt="">
                </div>                
            </div>            
        </footer>
