
        <div class="c-header">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <div class="c-header__lead">
                            <h1>Prywatne pożyczki pod zastaw<br> nieruchomości</h1>
                            <h2>Pieniądze potrzebne&nbsp;na&nbsp;już?</h2>
                            <h3>Wystarczy, że spełnisz ten jeden warunek!</h3>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="c-header__image">
                            <img src=<%= require("./img/header/car.svg") %> alt="house">
                        </div>
                    </div>
                </div>
                
                <div class="o-circle"></div>
            </div>            
        </div>
