
        <div class="c-header">
            <div class="o-wrap">
                
                <div class="o-cols">
                    <div class="o-cols__item">
                        <div class="c-header__lead">
                            <h1>Skup nieruchomości z problemami</h1>
                            <h2>Gdy będziesz gotów sprzedać, my kupimy.</h2>
                            <h3>To proste.</h3>
                        </div>
                    </div>
                    
                    <div class="o-cols__item">
                        <div class="c-header__image">
                            <img src=<%= require("./img/header/house.svg") %> alt="house">
                        </div>
                    </div>
                </div>
                
                <div class="o-circle"></div>
            </div>            
        </div>
