
        <div class="c-info">
            <div class="o-wrap">
                
                <div class="c-info__types anim anim--up">
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <div class="o-article">
                                <h3>Jakie rodzaje nieruchomości
    kupujemy?</h3>
                            </div>
                        </div>
    
                        <div class="o-cols__item">
                            <div class="o-article">
                                <p>Zajmujemy się skupem za gotówkę:</p>
    
                                <p>&nbsp;</p>
                                
                                <ul>
                                    <li><strong>mieszkań</strong></li>
                                    <li><strong>domów</strong></li>
                                    <li><strong>lokali usługowych</strong></li>
                                    <li><strong>działek (także rolnych)</strong></li>
                                </ul>
                            </div>
                            
                            <div class="c-info__image">
                                <img src=<%= require("./img/info/types.svg") %> alt="types">
                            </div>
                        </div>
                    </div>
                </div>
                
                <hr>
                
                <div class="c-info__problems anim anim--up">
                    <div class="o-article">
                        <h3>Z jakimi problemami<br> nieruchomości skupujemy?</h3>
                    </div>
                
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <div class="o-article alignjustify">
                                <p><strong>Nie ma dla nas znaczenia, jaki stan prawny lub techniczny ma Twoja nieruchomość. Innymi słowy – może być to równie dobrze lokal zadłużony lub wymagający generalnego remontu. Nie boimy się wyzwań!</strong></p>
                                
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
                                
                                <h4>Nieruchomości ze służebnością</h4>
                                <p>Masz mieszkanie, z którego nie możesz w pełni korzystać, bo zajmuje je np. ktoś z rodziny i nie chcesz z nim wchodzić w konflikt? W tej sytuacji łatwiej będzie oddać tę sprawą osobom trzecim. Bo jak najbardziej <strong>możesz zbyć taką nieruchomość, uwalniając się wreszcie od problemu!</strong></p>
    
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
    
                                <h4>Udziały w nieruchomościach</h4>
                                <p>Może otrzymałeś część spadku wraz z innymi osobami i chcesz się go pozbyć, bo czujesz, że ciężko Wam się dogadać? Albo przerażają Cię koszty utrzymania nieruchomości? Jeśli tak, odezwij się do nas – pomożemy, w końcu <strong>masz prawo sprzedać tylko swój udział.</strong></p>
    
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
    
                                <h4>Nieruchomości ze wszczętym postępowaniem komorniczym</h4>
                                <p><strong>Komornik zajął Twoje mieszkanie lub dom? Grozi Ci licytacja?</strong> Czy wiesz, że mimo wszystko możesz je sprzedać? Wstrzymamy licytacją komorniczą i spłacimy Twój dług. Jesteśmy gotowi podjąć się takiego ryzyka. Pytanie – czy Ty jesteś gotów się od niego uwolnić?</p>
                            </div>
                        </div>
                        
                        <div class="o-cols__item">
                            <div class="o-article">
                                <h4>Nieruchomości z dożywociem</h4>
                                <p>Być może dostałeś lub kupiłeś mieszkanie w zamian za utrzymywanie byłego właściciela aż do końca jego życia. Nie dajesz już rady? Możesz taki lokal sprzedać, ale nowy nabywca również będzie musiał płacić za utrzymanie tej osoby. A to przekłada się na niższą cenę nieruchomości. Ale i tak warto – to najlepsza droga na pozbycie się ciężaru!</p>
                                
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
    
                                <h4>Nieruchomości zadłużone</h4>
                                <p>Wziąłeś kredyt lub pożyczkę pod hipotekę? Zajmujemy się skupem zadłużonych mieszkań i innych lokali. Chętnie takie od Ciebie kupimy, oczywiście o ile wartość długu nie przekracza wartości nieruchomości. Spłatę zadłużenia weźmiemy na siebie, a Ty dzięki sprzedaży uwolnisz się od problemu!</p>
                                
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
    
                                <h4>Nieruchomości z lokatorami</h4>
                                <p>Myślisz o sprzedaży domu lub mieszkania, ale jest jeden problem: lokatorzy? Zgodnie z prawem nie możesz ich wyrzucić na bruk, ale jak najbardziej dopuszczalna jest sprzedaż lokalu razem z nimi! Przejmiemy Twój problem na siebie. Daj nam tylko znać. </p>
                                
                                <p>&nbsp;</p>
                                <p>&nbsp;</p>
    
                                <h4>Mieszkania komunalne</h4>
                                <p>Zajmujemy się również skupem nieruchomości należących do gmin. Jeśli myślisz, że masz dla nas propozycję – śmiało, odezwij się do nas.</p>
    
                            </div>
                        </div>
                    </div>
                </div>
                
                <% include container-assets %>
            </div>
        </div>
