
        <div class="c-info">
            <div class="o-wrap">
                
                <header class="o-header">
                    <h3>Pożyczka pod zastaw</h3>
                    <h4>– brzmi świetnie, ale pod zastaw czego dokładnie?</h4>
                </header>
                
                <div class="c-info__pledge anim anim--up">
                    <div class="o-cols o-cols--2">
                        <div class="o-cols__item">
                            <p>Jeśli Ty też zadajesz sobie to pytanie, zobacz, co możesz posiadać, a my pod tę własność udzielimy Ci pożyczki!</p>
                            
                            <p>&nbsp;</p>
                            
                            <p>Jedyne, czego od Ciebie wymagamy, to własności, która będzie dla nas zabezpieczeniem. Tylko w ten sposób możemy mieć pewność, że będziesz wywiązywać się z umowy – czyli spłacać pożyczkę. Uwaga! Każda nieruchomość musi posiadać księgę wieczystą!</p>
                        </div>
    
                        <div class="o-cols__item">
                            <div class="o-article">
                                <p>Jeśli chodzi Ci po głowie prywatna pożyczka pod zastaw:</p>
    
                                <p>&nbsp;</p>
                                
                                <ul>
                                    <li><strong>mieszkania własnościowego</strong></li>
                                    <li><strong>domu</strong></li>
                                    <li><strong>działki</strong></li>
                                    <li><strong>samochodu</strong></li>
                                </ul>
                                
                                <p>&nbsp;</p>
                                
                                <h4>to my Ci pomożemy!</h4>
                            </div>
                            
                            <div class="c-info__image">
                                <img src=<%= require("./img/info/girl.svg") %> alt="girl">
                            </div>
                        </div>
                    </div>
                </div>                
                
                <div class="o-assets">
                    <img srcset="./img/container/assets.png 1x, ./img/container/assets@2x.png 2x"
                    	 src="./img/container/assets.png" alt="">
                </div>
            </div>
        </div>
