
        <div class="c-intro c-intro--home" id="onas">
            <div class="o-wrap">
                
                <header class="o-header">
                    <h2>
                        <strong>Kim jesteśmy</strong> i&nbsp;czym&nbsp;się&nbsp;zajmujemy?
                    </h2>
                </header>
                
                <figure class="anim anim--up">
                    <div class="photo">
                        <img src=<%= require("./img/intro/icon-01.svg") %> alt="">
                    </div>

                    <figcaption>
                        <p>Pomagamy w uwalnianiu się od problemów finansowych. Powiedz nam, co Cię trapi, a dopasujemy do Twojej sytuacji najlepsze możliwe rozwiązanie. Jeśli posiadasz tzw. „trudną nieruchomość” i chcesz ją sprzedać – świetnie trafiłeś. A może chcesz wziąć pożyczkę pod zastaw swoich czterech kątów? W tym także Cię wesprzemy. Witaj w ekipie od zadań specjalnych. ;)</p>
                    </figcaption>
                </figure>
                
                <figure class="anim anim--up">
                    <div class="photo">
                        <img src=<%= require("./img/intro/icon-02.svg") %> alt="">
                    </div>

                    <figcaption>
                        <p>Chcesz dowiedzieć się, co nas wyróżnia? Proszę bardzo! Wszystkimi formalnościami zajmiemy się za Ciebie. Najważniejsze są dla nas zaufanie, uczciwość i bezpieczeństwo. Dlatego możesz mieć pewność, że zapewnimy uczciwą wycenę, a umowę podpiszemy u notariusza, którego sam nam wskażesz. Albo znajdziemy go za Ciebie, jeśli tylko zechcesz. Twoja wygoda przede wszystkim!)</p>
                    </figcaption>
                </figure>                
            </div>
        </div>
