
        <div class="c-intro c-intro--afterheader">
            <div class="o-wrap">
                <div class="o-article o-article--cols alignjustify">
                    <ul>
                        <li>Chcesz szybko pozbyć się nieruchomości, ale nie potrafisz samodzielnie znaleźć nabywcy?</li>
                        
                        <li>A może nie masz ochoty chodzić za klientami, pokazywać im lokalu, tracić czasu?</li>
                        
                        <li>Albo po prostu pragniesz uwolnić się od problemu, otrzymać pieniądze do ręki, bez długich procesów
i&nbsp;zbędnych formalności? </li>
                    </ul>
                    
                    <p>Doskonale Cię rozumiemy i mamy dla Ciebie dobrą wiadomość! Jesteś we właściwym miejscu. Zapewniamy skup nieruchomości za gotówkę na terenie całego kraju.</p>
                    
                    <a href="#" class="o-phone"></a>
                </div>                
            </div>
        </div>
