
        <div class="c-intro c-intro--afterheader">
            <div class="o-wrap">
                <div class="o-cols o-cols--2">
                    <div class="o-cols__item">
                        <div class="o-article alignjustify">
                            <ul>
                                <li>Potrzebujesz pieniędzy, ale nie wiesz, skąd je wziąć?</li>
                                
                                <li>Bank odmawia Ci udzielenia kolejnego kredytu?</li>
                                
                                <li>Masz tzw. zły BIK?</li>
                            </ul>
                        </div>
                    </div>

                    <div class="o-cols__item">
                        <div class="o-article alignjustify">
                            <p>Spokojnie, pomożemy! Czy wiesz, że jeśli posiadasz 
        np. mieszkanie, ziemię, a nawet samochód, możesz wziąć pod każde z nich pożyczkę? Co to oznacza w praktyce? Zastaw np. nieruchomości takiej jak mieszkanie daje nam gwarancję, że pożyczka jest zabezpieczona. <strong>I dlatego możemy udzielić Ci finansowego wsparcia w wysokości minimum 30 tys. złotych.</strong> A często są to sumy rzędu kilkuset tysięcy złotych! Zainteresowany?</p>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
