
    <div class="c-lightbox js-lightbox" id="polityka-prywatnosci">
        <div class="c-lightbox__wrapper">
            
            <i class="icon-close js-close"></i>
            
            <div class="c-lightbox__content">
                <div class="o-article">
                    <h2>Polityka prywatności</h2>
                    <h3>– co to takiego?</h3>
                    
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    
                    
<p>Niniejsza polityka prywatności służy jedynie jako pomoc w zrozumieniu, jakie informacje i dane są zbierane i w jakim celu oraz do czego je wykorzystujemy. Te dane są bardzo dla nas ważne, dlatego prosimy o dokładne zapoznanie się z tym dokumentem, gdyż określa on zasady oraz sposoby przetwarzania i ochrony danych osobowych Klientów.</p>

<p>&nbsp;</p>

<p><strong>W polityce prywatności zawarte są także informacje o stosowaniu plików cookie.</strong></p>

<p>&nbsp;</p>

<p>Administratorem danych osobowych Klientów w rozumieniu Ustawy z dnia 29 sierpnia 1997 r. o ochronie danych osobowych jest NAZWA FIRMY. Ww. podmiot niniejszym oświadcza, że przestrzega zasad ochrony danych osobowych Klientów oraz wszelkich uregulowań prawnych, które są przewidziane w Ustawie z dnia 29 sierpnia 1997 r. o ochronie danych osobowych (tj. Dz. U. z 2015 r. poz. 2135).</p>

<p>&nbsp;</p>

<p>Klient ma prawo zwrócić się do nas, aby uzyskać wyczerpujące informacje o tym, w jaki sposób wykorzystujemy jego dane osobowe. Dokonujemy wszelkich starań, aby rzetelnie informować o danych, jakie gromadzimy, w jaki sposób je wykorzystujemy, jakim celom mają
służyć i komu je przekazujemy, jaką zapewniamy ochronę tych danych w wypadku przekazania ich innym podmiotom oraz udzielamy informacji o instytucjach, z którymi należy
się skontaktować w razie wątpliwości.</p>

<p>&nbsp;</p>

<p><strong>Od kiedy obowiązuje polityka prywatności strony STRONA WWW?</strong></p>
<p>Polityka prywatności STRONA WWW wchodzi w życie w 1.01.2021 r.</p>

<p>&nbsp;</p>

<p><strong>Co to jest RODO?</strong></p>
<p>RODO – Rozporządzenie Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz uchylenia dyrektywy 95/46/WE.</p>

<p>&nbsp;</p>

<p><strong>Dane osobowe – co to jest oraz jaki jest cel ich przetwarzania?</strong></p>
<p>Dane osobowe udostępnione za pomocą formularza kontaktowego na stronie internetowej STRONA WWW, w korespondencji mailowej bądź rozmowy telefonicznej są wykorzystywane jedynie w celach kontaktowych, co oznacza, że nie są udostępniane dalej.</p>

<p>&nbsp;</p>

<p><strong>Formularz kontaktowy – jakie dane są nam potrzebne?</strong></p>
<p>Potrzebujemy od Ciebie takich informacji jak: imię, adres e-mail, numer telefonu – słowem dane umożliwiające naszemu zespołowi kontakt zwrotny z Tobą.</p>

<p>&nbsp;</p>

<p><strong>Kto jest administratorem Twoich danych osobowych?</strong></p>
<p>Jeżeli skorzystałeś z formularza kontaktowego zawartego na stronie STRONA WWW lub wysłałeś e-mail, to administratorem Twoich danych jest NAZWA FIRMY Z ADRESEM I DANYMI (NIP, REGON). Kontakt z administratorem możliwy jest przez adres e-mail ADRES EMAIL lub pisemnie na adres siedziby administratora z dopiskiem „Ochrona danych”. Administrator w celu należytej ochrony danych osobowych powołał Inspektora Ochrony Danych, z którym można się skontaktować pod adresem e-mail: ADRES EMAIL.</p>

<p>&nbsp;</p>

<p><strong>Jaki jest cel przetwarzanie danych osobowych?</strong></p>
<p>Będziemy przetwarzać Twoje dane osobowe, abyś mógł korzystać z profesjonalnej pomocy prawnej.</p>

<p>&nbsp;</p>

<p><strong>Jakie są Twoje prawa wynikające z przetwarzania danych osobowych?</strong></p>
<p>Masz prawo do żądania dostępu do treści swoich danych, ich sprostowania, usunięcia, ograniczenia przetwarzania, prawo do przenoszenia danych oraz prawo wniesienia sprzeciwu, cofnięcia zgody na przetwarzanie danych osobowych w dowolnym momencie, bez wpływu na zgodność z prawem przetwarzania, którego dokonano na podstawie zgody przed jej cofnięciem.</p>

<p>&nbsp;</p>

<p>Podkreślamy, że podanie danych osobowych jest dobrowolne, ale niezbędne do otrzymania odpowiedzi na zadanie za pośrednictwem formularza kontaktowego pytanie.</p>

<p>&nbsp;</p>

<p><strong>Jaki jest czas przetrzymywania danych osobowych?</strong></p>
<p>Dane osobowe będą przetwarzane przez okres niezbędny do udzielenia odpowiedzi na zadane za pośrednictwem formularza kontaktowego pytanie, a po tym okresie dla celów i przez okres oraz w zakresie wymaganym przez przepisy prawa lub dla zabezpieczenia ewentualnych roszczeń do momentu ich przedawnienia. W pozostałym zakresie dane osobowe będą przetwarzane do momentu cofnięcia wyrażonej zgody.</p>

<p>&nbsp;</p>

<p><strong>Czy masz prawo do wniesienia skargi?</strong></p>
<p>Tak, masz prawo do wniesienia skargi do organu nadzorczego zajmującego się ochroną danych osobowych, zgodnie z obowiązującymi w danym czasie regulacjami i podziałem kompetencji Prezesa Urzędu Ochrony Danych Osobowych.</p>

<p>&nbsp;</p>

<p><strong>Zmiany naszej polityki prywatności</strong></p>
<p>Zastrzegamy sobie prawo zmiany powyższej polityki prywatności przez opublikowanie nowej polityki prywatności na naszej stronie internetowej ADRES STRONY.</p>
                    
                    
                </div>
            </div>

            <div class="c-lightbox__cta">
                <a href="#" class="o-btn o-btn--navy js-close">Zrozumiałem</a>
            </div>
            
            <div class="c-lightbox__images c-lightbox__images--boy">
                <img src=<%= require("./img/lightbox/boy-clipped.svg") %> alt="">
            </div>
            
            <div class="c-lightbox__images c-lightbox__images--leafs">
                <img src=<%= require("./img/lightbox/leafs-clipped.svg") %> alt="">
            </div>
        </div>
    </div>
