
    <div class="c-lightbox js-lightbox" id="polityka-cookies">
        <div class="c-lightbox__wrapper">
            
            <i class="icon-close js-close"></i>
            
            <div class="c-lightbox__content">
                <div class="o-article">
                    <h2>Pliki cookie</h2>
                    
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                    
                    
<p>Są to małe pliki tekstowe rejestrujące aktywność użytkownika online, które ułatwiają poruszanie się po witrynie oraz podejmowanie rozmaitych działań. Rozpoznają urządzenie użytkownika i wyświetlają stronę dopasowaną do jego indywidualnych preferencji. Ich wyłączenie może spowodować błędne działanie strony oraz brak dostępu do niektórych jej
funkcji.</p>

<p><strong>Do czego służą pliki cookie?</strong></p>
<p>Do identyfikacji Twojej przeglądarki podczas korzystania z naszej strony. Pliki cookie zawierają niewielkie ilości tekstu możliwe do odczytania tylko przez stronę, która je wysyła. Dzięki zebranym informacjom możemy dowiedzieć się, jak często odwiedzasz nasz serwis i które jego elementy najbardziej Cię interesują. Pliki cookie pozwalają zapamiętać wybory dokonane przez użytkownika i używane m.in. przy logowaniu. Pozostają na urządzeniu użytkownika do czasu wylogowania z serwisu lub zamknięcia przeglądarki. Uzyskane dane wykorzystujemy do ułatwienia funkcjonowania naszej strony internetowej ADRES STRONY oraz w celach statystycznych i reklamowych.</p>

<p><strong>Usuwanie plików cookie</strong></p>
<p>Masz prawo do odmowy zapisywania i odczytywania plików cookie na Twoim urządzeniu,
takim jak komputer, telefon, tablet. Musisz jednak zaznaczyć odpowiednie ustawienia w
opcjach przeglądarki internetowej lub nie wyrazić zgody w przypadku, gdy aplikacja w
serwisie internetowym będzie się Ciebie o to pytać. Skonfigurowanie przeglądarki w sposób,
który zablokuje instalację plików cookie dla określonych, wybranych przez użytkownika stron
internetowych lub dla wszystkich stron może spowodować utratę pewnych funkcjonalności,
które wymagają instalacji plików cookie. Zgodnie z wymogami ustawy z dnia 16 lipca 2004 r.
Prawa telekomunikacyjnego i Rozporządzenia Parlamentu Europejskiego i Rady (UE)
2016/679 z dnia 27 kwietnia 2016 r. w sprawie ochrony osób fizycznych w związku z
przetwarzaniem danych osobowych i w sprawie swobodnego przepływu takich danych oraz
uchylenia dyrektywy 95/46/WE za potwierdzenie zgody na wykorzystanie plików cookie
uznaje się skonfigurowanie przeglądarki, pozwalającej na instalację plików cookie na
komputerze.</p>
                    
                    
                </div>
            </div>

            <div class="c-lightbox__cta">
                <a href="#" class="o-btn o-btn--navy js-close">Zrozumiałem</a>
            </div>
            
            <div class="c-lightbox__images c-lightbox__images--boy">
                <img src=<%= require("./img/lightbox/boy-clipped.svg") %> alt="">
            </div>
            
            <div class="c-lightbox__images c-lightbox__images--leafs">
                <img src=<%= require("./img/lightbox/leafs-clipped.svg") %> alt="">
            </div>
        </div>
    </div>
