
                <nav class="c-nav js-nav">                    
                    <div class="c-nav__menu js-menu">
                        <ul>
                            <li>
                                <a href="#">o nas</a>
                            </li>
                            
                            <li>
                                <a href="#">oferta</a>
                            </li>
                            
                            <li>
                                <a href="#">opinie</a>
                            </li>
                            
                            <li>
                                <a href="#">kontakt</a>
                            </li>
                        </ul>
                    </div>
                </nav>
