
        <div class="c-offer" id="oferta">
            <div class="o-wrap">
                <div class="o-cols">
                    <div class="o-cols__item anim anim--left">
                        <div class="o-article">
                            <header class="o-header">
                                <h2>Skup nieruchomości</h2>
                            </header>
                            
                            <p>Masz nieruchomość, którą chcesz sprzedać? Udział w spadku? Lokator nie chce się wyprowadzić, a Ty potrzebujesz pieniędzy ze sprzedaży mieszkania na już? A może chodzi o coś jeszcze innego?</p>
                        </div>
                        
                        <div class="c-offer__footer">
                            <div class="o-image">
                                <img src=<%= require("./img/offer/estate-front.svg") %> alt="estate-front">
                            </div>
                            
                            <a href="loans-1.html" class="o-btn o-btn--navy">więcej</a>
                        </div>
                        
                        <p class="o-num">1.</p>
                    </div>
                        
                    <div class="o-cols__item anim anim--right">
                        <div class="o-article">
                            <header class="o-header">
                                <h2>Pożyczki pod zastaw</h2>
                            </header>
                            
                            <p>Problemy finansowe, a może potrzebna gotówka na inwestycję? Dla nas nie ma znaczenia, na co potrzebujesz pieniędzy. Najważniejsze jest to, że możemy Ci pomóc.</p>
                        </div>

                        <div class="c-offer__footer">
                            <div class="o-image">
                                <img src=<%= require("./img/offer/car.svg") %> height="185" alt="car">
                            </div>
                            
                            <a href="loans-2.html" class="o-btn o-btn--navy">więcej</a>
                        </div>
                        
                        <p class="o-num">2.</p>
                    </div>
                </div>
            </div>
        </div> 
