
         <div class="c-topbar">
            <div class="o-wrap">
                <a href="index.html" class="o-logo">
                    <img src=<%= require("./img/assets/logo-itfund.svg") %> alt="it fund" width="162" height="67">
                </a>
                
                <% include nav--home %>
            </div>
        </div>
