@import 'settings/colors.scss';
@import 'settings/global.scss';

@import 'tools/clear';
@import 'tools/functions';
@import 'tools/mixins';
//@import 'tools/blazy';
//@import 'tools/custom-select';
//@import 'tools/glide';
//@import 'tools/glightbox';

@import 'generic/reset';
@import 'generic/box-sizing';
@import 'generic/screen-reader';

@import 'elements/extends';
@import 'elements/fonts';
@import 'elements/form';
@import 'elements/media';
@import 'elements/page';
@import 'elements/typography';

@import 'objects/article';
@import 'objects/assets';
@import 'objects/btn';
@import 'objects/circle';
@import 'objects/cols';
@import 'objects/container';
@import 'objects/hamburger';
@import 'objects/header';
@import 'objects/icons';
@import 'objects/leads';
@import 'objects/logo';
@import 'objects/phone';
@import 'objects/quick';
@import 'objects/section';
@import 'objects/social';
@import 'objects/wrap';

@import 'components/benefits';
@import 'components/clients';
@import 'components/contact';
@import 'components/footer';
@import 'components/header';
@import 'components/hero';
@import 'components/info';
@import 'components/intro';
@import 'components/nav';
@import 'components/offer';
@import 'components/steps';
@import 'components/topbar';

@import 'trumps/trumps';
