.o-phone {
    @extend %rel;
    @extend %flex;
    @extend %flex-xy;
    @include z-index(phone);
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    position: fixed;
    top: 70%; right: 30px;
    width: 147px;
    height: 147px;
    background: $c-blue-02;
    box-shadow: 12.8px 12.8px 10px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    padding: 21px;
    color: white;
    
    .mobile & {
        top: 80%;
    }
    
    &.is-fadeout {
        background-color: $c-blue-03;
        box-shadow: none;
        transform: scale3d(1.2, 1.2, 1.2) translate3d(-50px, 100px, 0);
        opacity: 0;
        color: $c-blue-03;
//        transform: translate3d(0, 20px, 0);
//        opacity: 0;
    }
    
    @media ( max-width: $base + $padding + px ) {
    	@include responsive-height(base(147), rem(70));
    	@include responsive-width(base(147), rem(70));
    	@include responsive-padding(base(21), rem(10));
    	@include responsive-right(base(30), rem(15));
    }
    
    &:hover {
        background-color: darken($c-blue-02, 5%);
    }
    
    img {
        margin: 0 auto;
    }
}
