.o-social {
    
    a {
        font-size: rem(16);
    }
    
    li {
        &:not(:last-child) {
            padding-right: 25px;
        }
    }
    
    ul {
        @extend %flex;
        
        a {
            display: block;

            &:hover {
                transform: translate3d(0, -5px, 0);
            }
        }
    }    
}