.c-intro {
    padding: {
        top: 80px;
        bottom: 80px;
    }
    
    @media ( max-width: $base + $padding + px ) {
    	@include responsive-padding-top(base(80), rem(20));
    	@include responsive-padding-bottom(base(80), rem(20));    	
    }

    &--home {
        .o-phone {
            @extend %abs;
            left: calc(50% - 147px/2 + 536.5px);
            top: 0;
            
            @media ( max-width: $base + $padding + px ) {
            	left: auto;
            	right: 20px;
            }
        }
    }
    
    &--afterheader {
        
        .o-article {
            &--cols {
                
                @media ( min-width: $smartphone + 1px ) {
	                column-gap: grid(160);
                }
            }
        }
        
        .o-phone {
            margin: 0 0 0 auto;
            transform: translateX(50%);
        }
    }

    figure {
        @extend %flex;        

        @media ( max-width: $smartphone + px ) {
            
            flex-direction: column;

//    	    flex-direction: row;
        }


        figcaption {
            text-align: justify;
            
            @media ( min-width: $smartphone + 1px ) {
                //flex: 1;
                width: grid(670);
            }
        }

        .photo {
            flex: 1;
            
            @media ( max-width: $tablet_portrait + px ) {
                width: 100%;
                margin-bottom: 40px;
            }
        }
        
        &:nth-of-type(1) {
            margin-bottom: 90px;
            
            @media ( min-width: $smartphone + 1px ) {
                flex-direction: row-reverse;
            }

            
            img {
                @media ( min-width: $smartphone + 1px ) {
                    margin: -40px 50px 0 50px;
                }
                
                @media ( max-width: $tablet + px ) {
                	
                }
            }
        }
        
        &:nth-of-type(2) {
            
            img {
                @media ( min-width: $smartphone + 1px ) {
                    margin: 0 100px 0 0;
                }
            }

        }
        
        img {
            @media ( max-width: $smartphone + px ) {
                margin: 0 auto;
            }
        }
    }
    
    .o-article {
        @extend %flex;
        @extend %flex-column;
        
        @media ( max-width: $smartphone + px ) {
        	flex-direction: column-reverse;
        }
        
        p {
            line-height: 2.2em;
        }

        ul {
            @media ( max-width: $smartphone + px ) {
                margin-top: 2em;
            }

            li {
                font-weight: $semibold;
            }
        }
    }
    
    .o-cols {
        @media ( max-width: $smartphone + px ) {
        	display: block;
        }
        
        &__item {
            &:first-of-type,
            &:last-of-type {
                @media ( max-width: $smartphone + px ) {
                    width: 100%;
                    padding: 0;
                }
            }
            
            &:first-of-type {
                .page-template-green & {
                    @media ( min-width: $smartphone + 1px ) {
                        padding-right: grid(80);
                    }
                }
            }
            
            &:last-of-type {
                .page-template-green & {
                    @media ( min-width: $smartphone + 1px ) {
                        padding-left: grid(80);
                    }
                }
            }

        }
    }

    .o-header {
        max-width: 540px;
    }
    
    .o-phone {
        @media ( max-width: $base + px ) {
        	display: none;
        }
    }
}