$c-black-01:   black;

$c-blue-02:    #1C75BB;
$c-blue-03:    #28A8DF;

$c-green-01:   #8CBF43;

$c-gray-01:    #F0F0F1;
$c-gray-02:    #BDBDBD;

$c-navy-01:    #2B3A8C;

$c-white-01:   #F0F0F1;
$c-white-02:   #e5e5e5;