<% include ./src/includes/head %>
<body>

    <% include ./src/includes/cover %>
    
    <div class="o-container">
        
        <% include ./src/includes/topbar--home %>
        <% include ./src/includes/hero %>
        <% include ./src/includes/intro--home %>
        <% include ./src/includes/offer %>
        <% include ./src/includes/clients %>
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/container-assets %>
    </div>

</body>
</html>


