<% include ./src/includes/head %>
<body class="page-template-green">

    <% include ./src/includes/cover %>
    
    <div class="o-container">
        
        <% include ./src/includes/topbar %>
        <% include ./src/includes/header--green %>
        <% include ./src/includes/intro--green %>
        <% include ./src/includes/benefits--green %>
        <% include ./src/includes/info--green %>
        <% include ./src/includes/steps--green %>
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/container-assets %>
    </div>

    <% include ./src/includes/lightbox-cookies %>
    <% include ./src/includes/lightbox-privacy %>
    <% include ./src/includes/cookies %>
    <% include ./src/includes/phone %>

</body>
</html>
