<% include ./src/includes/head %>
<body class="page-template-blue">

    <% include ./src/includes/cover %>
    
    <div class="o-container">
        
        <% include ./src/includes/topbar %>
        <% include ./src/includes/header--blue %>
        <% include ./src/includes/intro--blue %>
        <% include ./src/includes/benefits--blue %>
        <% include ./src/includes/info--blue %>
        <% include ./src/includes/steps--blue %>
        <% include ./src/includes/contact %>
        <% include ./src/includes/footer %>
        <% include ./src/includes/container-assets %>
    </div>

    <% include ./src/includes/lightbox-cookies %>
    <% include ./src/includes/lightbox-privacy %>

</body>
</html>
